{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>خوش آمدید به وبسایت من</h1>
    <h2>این یک تمرین برنامه نویسی برای من است</h2>
    <h3>این وبسایت با استفاده از کتابخانه flask
        و متصل به دیتابیس مجازی با استفاده از کتابخانه flask-sqlalchemy
        در بستر پایتون نوشته شده است.
    </h3>
    <h4>میتوانید مرا در صفحات مجازی دنبال کنید:
        <p>
            linkedin:www.linkedin.com/in/parham-mohtasham-6b2879318
        </p>
    </h4>
    <h1>
        <a href="/addpost">ADD POST</a>
    </h1>
    
{% endblock %}