{% extends 'base.html' %}

{% block title %}
    POSTS
{% endblock %}

{% block content %}
    {% if posts %}
        <table width="100%" border="1">
            <th>ID</th>
            <th>TITLE</th>
            <th>BODY</th>
            {% for post in posts%}
                <tr>
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.body}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>پستی وجود ندارد</h1>
    {% endif %}

{% endblock %}