{% extends 'base.html' %}

{% block title %}
    POSTS
{% endblock %}

{% block content %}
    {% if posts %}
        <table width="100%" border="1">
            <th>ID</th>
            <th>TITLE</th>
            <th>BODY</th>
            <th>میتوانید پست ها را حذف کنید</th>
            {% for post in posts%}
                <tr>
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.body}}</td>
                    <td><a href="/delete/post/{{post.id}}">حذف</a>
                    /
                    <a href="/edit/post/{{post.id}}">ویرایش</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>پستی وجود ندارد</h1>
    {% endif %}
    <h1><a href="/addpost">ADD POST</a></h1>
{% endblock %}